<p id="notice"><%= notice %></p>

<p>
  <strong>User email:</strong>
  <%= @daily_visitor.user_email %>
</p>

<%= link_to 'Edit', edit_daily_visitor_path(@daily_visitor) %> |
<%= link_to 'Back', daily_visitors_path %>
