

       <% if session[:admin_id] %>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>

    <section class="tabs-section"style="margin-top: -80px">
     <%= render 'layouts/header_profile_admin' %>

<br><br><br>


            <div class="container" >
   <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Add Brand</h4>
                   

                                    <div id="example23_wrapper" class="dataTables_wrapper dt-bootstrap4">

                                    

                              <%= render 'form', brand: @brand %>

                                </div>
                                </div>
                                </div>
                       
                                </div>
                                </div>

            </div>



        </section>

        <% else %>
        <div align="center" style="margin-top: -700px;">
 <button class="value_button" data-toggle="modal" data-target="#modalLoginForm" style="margin-top: 35%;">PLEASE SIGN IN</button>
</div><br><br><br>
        <% end %>


