		<footer style="background-color: #fff;">




			<p class="copyright-line" style="background-color: #fff;background:#fff;height: 20px;color: #8e8e8e;font-family: 'Helvetica Neue';	font-size: 14px;font-weight: 400; padding: 0px 0;letter-spacing: 1.89px;line-height: 20px;font-family: Arial;	font-weight: 400;margin-top: -50px;">@2019 All Rights Reserved For 3arabeety</p>
		</footer>
