		<footer style="background-color: #fff;">
			<div class="container">

				<div class="up-footer">
					<div class="row">


<style type="text/css">
	
	.contact_footer_class{
		width: 300px;
height: 26px;
color: #00357a;
font-family: "Open Sans";
font-size: 16px;
font-weight: 400;
line-height: 24px;
	}
</style>
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
						<div class="col-lg-12 col-md-12">
							<div class="footer-widget text-widget" align="center">
								<h2 style="font-family: 'Helvetica Neue';font-size: 40px;width: 587px;height: 46px;color: #545469;font-family: 'Helvetica Neue';font-size: 40px;font-weight: 700;font-family: Arial;font-weight: 700;">Questions? We're here to help.</h2><img src="/divider_footer.png">
								<p class="contact_footer_class" style="margin-top: 14px;width: 300px;height: 26px;color: #00357a;font-family: 'Open Sans';font-size: 19px;font-weight: 400;line-height: 24px;"><a href="mailto:customer-services@arabeety.com" style="color: #00357a;">customer-services@arabeety.com</a></p>
							</div>
						</div>

						

					


					</div>
				</div>

			</div>


<div style="height: 176px;background-color: #fbfbfb;" align="center"><br><br><br><p class="copyright-line" style="background-color: none;background:none;height: 20px;color: #8e8e8e;font-family: 'Helvetica Neue';	font-size: 14px;font-weight: 400;letter-spacing: 1.89px;line-height: 20px;font-family: Arial;	font-weight: 400;margin-top:0px;" align="center">@2019 All Rights Reserved For 3arabeety</p></div>
			
		</footer>
