<div class="header">
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-lg-6">
      <img class="user_icon" src="/user_placeholder_final.png" >
      <%# <div class="col-xs-4 col-sm-6 col-lg-8"> %>
        <%# <h3 class="name_user" style="margin-left:20px;margin-top: 60px;font-size: 18px;"><%= User.find(session[:user_id]).name</h3> %>
        <%# <p class="email-tel-user" style="margin-left:20px;font-size: 15px;"><%= User.find(session[:user_id]).email %> 
        <%# <%= User.find(session[:user_id]).phone </p> %>
        <%# <p style="background-color: black;">helllo</p>
      </div> %>
  </div>
  <div class="col-xs-6 col-sm-6 col-lg-6">
    <% if request.path["profile"] || request.path["settings"] || request.path["messages"] %>
        <a  href="#" onclick="myFunction()"><img class="value_car"src="/value_car_profile_button.png"></a>
      <script>
      function myFunction() {

        <% if session[:user_id] %>
        window.location.replace("/valuations/new");
        <% else %>
        $('#modalLoginForm').modal('show');
        <% end %>
          
      }
      </script>
    <% else %>
        <a  href="#"  onclick="myFunction()"><img class="exit_eval" src="/exit_valuation_button.png"></a>
      <script>
      function myFunction() {
          <% if session[:user_id] %>
        window.location.replace("/");
        <% else %>
        $('#modalLoginForm').modal('show');
        <% end %>
      }
      </script>
    <% end %>
  </div>
  </div>
  <br><br><br>
  <div class="tabs-box">
      <ul class="nav nav-tabs" id="myTab" role="tablist" style="    text-align: left;    justify-content: left;margin-left: 15%;    margin-top: -50px;">
    <% if request.path.include?("valuations") %>
          <li class="nav-item" style="width: 15%">
          <a class="nav-link active" href="/valuations/new"  style="color:#4a4a4a;background: none;">Valuation</a><div id="line_first_profile" style="z-index:4;width: 60px;height: 1px;border: 1px solid #ff8409;margin-left: 90px;margin-top: -5px;"></div><img src="/polygon.png" style="width: 90px;margin-top: -10px;margin-left: 75px;z-index: 0;">
          </li>
    <% else %>
      <li class="nav-item" style="width: 15%">
        <a class="nav-link active" href="/valuations/new"  style="color:#4a4a4a;background: none;">Valuation</a><div id="line_first_profile" style="z-index:4;width: 60px;height: 1px;border: 0px solid #ff8409;margin-left: 38%;margin-top: -5px;"></div>
      </li>
    <% end %>
        <% if request.path["profile"] %>
          <li class="nav-item" style="width: 15%">
          <a class="nav-link active" href="/profile"  style="color:#4a4a4a;background: none;">History</a><div id="line_first_profile" style="z-index:4;width: 60px;height: 1px;border: 1px solid #ff8409;margin-left: 90px;margin-top: -5px;"></div><img src="/polygon.png" style="width: 90px;margin-top: -10px;margin-left: 75px;z-index: 0;">
          </li>
          <% else %>
          <li class="nav-item" style="width: 15%">
              <a class="nav-link active" href="/profile"  style="color:#4a4a4a;background: none;">History</a><div id="line_first_profile" style="z-index:4;width: 60px;height: 1px;border: 0px solid #ff8409;margin-left: 38%;margin-top: -5px;"></div>
          </li>
          <% end %>
        <% if request.path["settings"] %>
          <li class="nav-item" style="width: 15%;">
                    <a class="nav-link active" href="/settings"  style="color:#4a4a4a;background: none;">Settings</a><div id="line_first_profile" style="z-index:4;width: 60px;height: 1px;border: 1px solid #ff8409;margin-left: 90px;margin-top: -5px;"></div><img src="/polygon.png" style="width: 90px;margin-top: -10px;margin-left: 75px;z-index: 0;">
          </li>
          <% else %>

            <li class="nav-item" style="width: 15%;">
                <a class="nav-link active" href="/settings"  style="color:#4a4a4a;background: none;">Settings</a><div id="line_second_profile" style="width: 60px;height: 0px;border: 0px solid #ff8409;margin-left: 38%;margin-top: -5px;"></div>
          </li>
          <% end %>  
      </ul>
  </div>
</div> 
<style>
.exit_eval{
  bottom: 228px;right: 362.7px;margin-top:40px;left: 1182.7px;
}

.header{
  margin-top: -20px;
  background-color: #fff;
  height: 250px;
  max-width: 2020px;
  margin-bottom: 0px;
  position:relative;
  /* make the header grided */
  display: grid;
  grid-auto-rows: 2fr;
  grid-template-columns: repeat(1, 2fr);
  grid-gap: 39px;


}
.user_icon{
  width: 120px;
  height: 120px;
  margin-top: 20px;
  border-radius: 50%;
  border-color: #fff;
  border-width: 4px;
  margin-left: 38%;
  /* float:right; */
}
.nav nav-tabs{
  width: 100%;
}
.value_car{
bottom: 228px;right: 362.7px;margin-top:40px;left: 1182.7px;

}
@media (max-width: 1024px) {
.exit_eval{
  width: 300px;
  margin-right: 100px;;
}
.exit_eval_img{
width:300px;
}
.header{
  width: auto;
  position:relative;
  grid-gap: 50px;
}
.value_car{
  width: 300px;
  margin-right: 100px;
}
.user_icon{
  width: 100px;
  height: 100px;
}
}
</style>
